.lista-automoveis {
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  }